@use '../vars';

.card {
  display: flex;
  flex-direction: column;
  border: solid 2px vars.$light;
  border-radius: 5px;

  &:hover {
    cursor: pointer;
  }

  &__body {
    padding: 2rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__image {
    filter: blur(3px) grayscale(100%);
    transition: all 0.3s ease;
  }

  &:hover &__image {
    scale: 1.1;
    filter: blur(1px) grayscale(80%);
  }

  &__bottom {
    padding: vars.$md;
  }

  &__cats {
    display: flex;
    margin-bottom: vars.$sm;

    & > div {
      margin-top: vars.$sm;
      margin-right: vars.$sm;
    }
  }
}
