@use '../vars';

@keyframes slidein {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0%);
  }
}

.container {
  display: flex;
  flex-direction: column;
}

.link {
  display: inline-block;
  font-size: 7rem;
  font-weight: 700;
  position: relative;
  color: vars.$light;
  text-decoration: none;
  margin-bottom: 2rem;
  height: 9rem;
  overflow: hidden;
  cursor: default;

  & h1 {
    display: inline-block;
  }

  &__container {
    display: inline-block;
    height: 100%;
    transform: translateY(100%);
    animation: slidein 0.5s ease;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;

    & h1 {
      font-size: 7rem;
    }
  }

  &__initial {
    // position: absolute;
    // min-width: 20rem;
  }

  &__location {
    opacity: 0;
    transition: left 0.3s ease;
    position: absolute;
    left: 0;
    cursor: pointer;
  }

  &__container:hover &__initial {
    visibility: hidden;
  }

  &__container:hover &__location {
    opacity: 1;
    left: 5rem;
    color: vars.$bright;
  }
}

.delay02 {
  animation-delay: 1s;
}
.delay03 {
  animation-delay: 1.5s;
}
