@use '../vars';

.cats {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: vars.$md;

  & > div {
    margin-top: vars.$md;
    margin-right: vars.$sm;
  }
}

.image {
  border: solid 2px vars.$light;
  border-radius: 5px;
}
