@use '../vars';

.container {
  display: grid;
  // grid-template-columns: repeat(2, minmax(30rem, 1fr));
  // grid-wrap: wrap;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  gap: vars.$spacingNormal;
}
