@use '../vars';

.container {
  display: grid;
  // grid-template-columns: repeat(2, minmax(30rem, 1fr));
  // grid-wrap: wrap;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  margin-top: vars.$lg;
  gap: vars.$md;
}
