@use 'vars';
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;700;900&display=swap');
:root {
  font-size: 62.5%;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Exo 2', sans-serif;
  background-color: vars.$black;
  color: seashell;
  font-size: 1.8rem;
  line-height: 1.5;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

main {
  margin-top: 5vh;
  margin-left: vars.$lg;

  &.subpages {
    display: flex;
    justify-content: space-between;
  }
}

h1 {
  font-size: 7rem;
  text-transform: uppercase;
}

h2 {
  font-size: 5rem;
}

h3 {
  font-size: 3rem;
}

p {
  margin: vars.$sm 0;
  text-align: justify;
}

a {
  color: vars.$bright;
}

ul {
  padding-left: vars.$lg;
}
.grey {
  color: vars.$grey;
}
.bright {
  color: vars.$bright;
}

.title {
  position: relative;

  &::after {
    content: '';
    width: 80vw;
    height: 4px;
    background-color: vars.$bright;
    position: absolute;
    bottom: 0;
    left: -#{vars.$lg};
  }
}

section {
  margin-left: 4rem;
  margin-top: 4rem;
  width: 70vw;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  width: 12vw;
  padding: 4rem 0;
  overflow: hidden;

  & a {
    text-decoration: none;
    color: vars.$darkGrey;
    text-transform: uppercase;
    font-size: 7rem;
    line-height: 8rem;
    font-weight: 900;
    min-height: 33rem;
    writing-mode: vertical-lr;
    text-align: right;
    rotate: (180deg);
    transition: vars.$transition;
    transform: scale(1);
    margin-right: -1rem;

    &:hover,
    &.active {
      color: vars.$grey;
      // transform: scale(1.25);
      font-size: 8.5rem;
    }
  }
}

@media only screen and (max-width: 600px) {
  section {
    width: 100%;
    margin-left: 0;
    padding-right: 2rem;
    overflow: scroll;
    // height: 80vh;
  }

  main.subpages {
    flex-direction: column;
    margin-left: 2rem;
    margin-bottom: 10rem;
    // height: 100vh;
  }

  .mainContent {
    // overflow: scroll;
  }

  nav {
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    padding: 2rem;
    height: 10rem;
    position: fixed;
    bottom: 0;
    left: 0;
    background: linear-gradient(to bottom, #1515153c, vars.$black 30%);

    & a {
      writing-mode: initial;
      rotate: (0deg);
      font-size: 5vw;
      line-height: 6rem;
      min-height: initial;
      margin-right: 2rem;

      &:hover,
      &.active {
        font-size: 6vw;
      }
    }
  }
}
