@use 'vars';

:root {
  font-size: 62.5%;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  background-color: rgb(21, 21, 21);
  color: seashell;
  font-size: clamp(1.4rem, 3vw, 1.8rem);
  line-height: 1.5;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

main {
  margin-top: 5vh;
  margin-left: vars.$marginBig;
}

h1 {
  // font-size: 8rem;
  font-size: clamp(6rem, 7vw, 8rem);
}

.grey {
  color: vars.$grey;
}
.bright {
  color: vars.$bright;
}

.title {
  position: relative;

  &::after {
    content: '';
    width: 80vw;
    height: 1px;
    background-color: vars.$bright;
    position: absolute;
    bottom: 0;
    left: -#{vars.$marginBig};
  }
}

section {
  margin-left: 4rem;
  margin-top: 4rem;
  width: 80vw;
}

@media only screen and (max-width: 600px) {
  section {
    width: 100%;
    margin-left: 0;
    padding-right: 2rem;
  }
}
