@use 'colors';

@keyframes slidein {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0%);
  }
}

.main {
  display: flex;
  flex-direction: column;
}

.link {
  display: block;
  font-size: 7rem;
  font-weight: 700;
  position: relative;
  color: colors.$light;
  text-decoration: none;
  margin-bottom: 3rem;
  height: 7rem;
  overflow: hidden;
  width: 80vw;

  &__container {
    height: 100%;
    transform: translateY(100%);
    animation: slidein 1s ease;
    animation-fill-mode: forwards;
    animation-delay: 1s;
  }

  &__initial {
    display: block;
    position: absolute;
  }

  &__location {
    opacity: 0;
    transition: left 0.3s ease;
    position: absolute;
    left: 0;
    cursor: pointer;
  }

  &__container:hover &__initial {
    visibility: hidden;
  }

  &__container:hover &__location {
    opacity: 1;
    left: 5rem;
    color: colors.$lightHover;
  }
}

.delay02 {
  animation-delay: 2s;
}
.delay03 {
  animation-delay: 3s;
}
